.block.notice
  .content
    %img{:src => "images/mail.png", :style => "float:left; padding-right: 20px"}
    %p Registered users may send receipts to <a href="mailto:receipts@recipitor.com">receipts@recipitor.com</a>
    %p Simply attach your recepit to the email. 
    %p Optionally, Use the email subject line to describe the receipt.
