.block#text
  .content
    .inner
      - if user_signed_in?
        %h2 Add receipts
        #email_center
          = render :partial => "sidebar_upload_by_email"
        = render :partial => "receipts/upload_form"
      - else
        %p Hello stranger, please <a href="/login">login</a>.
        %p If you don't have a login then we're sorry, we're currently an invite only service; email us are <a href="mailto:register@recipitor.com">register@recipitor.com</a>.
- content_for :sidebar, render(:partial => 'sidebar')
