= form_for([current_user, current_user.receipts.build], :format => :json, :html => {:multipart => true, :id => "file_upload", :method => "post"}) do |f|
  = file_field_tag "receipt[img]", :multiple => true
  %button Upload
  #div 
    %p
      %img{:src => "/images/upload.png"}
      %b Click here to Upload Receipts 
    %p or
    %p
      %img{:src => "/images/dragdrop.png"}
      %b Drag and Drop Receipts Here

=render :partial => "receipts/upload_result"
