= form_for([current_user, current_user.receipts.build], :format => :json, :html => {:multipart => true, :id => "file_upload", :method => "post"}) do |f|
  = file_field_tag "receipt[img]", :multiple => true
  %button Upload
  #div Upload Receipts

=render :partial => "receipts/upload_result"
