%table{ :id => "files" }
:javascript
  $(function () {
    $('#file_upload').fileUploadUI({
      uploadTable: $('#files'),
      downloadTable: $('#files'),
      buildUploadRow: function (files, index) {
        return $('<tr><td>' + files[index].name + '<\/td>' +
                 '<td class="file_upload_progress"><div><\/div><\/td>' +
                 '<td class="file_upload_cancel">' +
                 '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                 '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                 '<\/button><\/td><\/tr>');
      },
      buildDownloadRow: function (receipt) {
        var f = function() {
          var id = '#rcpt' + receipt.id;
          $(id).ajaxForm({
            dataType: 'json',
            beforeSubmit: function() {
              $(id + " input.text_field").enable(false).fadeTo("slow", .5);
              $(id + " input:submit").enable(false);
              $(id + " .saved").hide();
            },
            success: function() {
              $(id + " input.text_field").enable(true).fadeTo("slow", 1);
              $(id + " input:submit").enable(true);
              $(id + " .saved").html("Saved").show("fast");
            }
          })
        };
        setTimeout(f, 300);
        return $('<tr><td><img width="100px" height="100px" src="' + receipt.pic_path + '"/><\/td>' + 
          '<td><form id="rcpt' + receipt.id + '" class="receipt_description_form form" method="post" action="/receipts/' + receipt.id + '.json" accept-charset="UTF-8">' + 
          '<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/>' +
          '<input name="_method" type="hidden" value="put"/>' +
          '<input name="authenticity_token" type="hidden" value="' + receipt.authenticity_token + '"/></div>' +
          'Describe the receipt <span class="saved"/><input name="receipt[description]" type="text" class="text_field" style="width:100%"/><br/>' +
          '<a href="' + receipt.pic_path  + '">' + receipt.name + '<\/a><input type="submit" value="save" style="float:right"/></form><\/td>' +
          '<\/tr>');
      }
    });
  });
