!!!
%html
  %head
    %title Recipitor
    = include_stylesheets :all, :media => 'all'
    = csrf_meta_tag
  %body
    #container
      #box
        = yield
    = render :partial => "layouts/ga" if RAILS_ENV == 'production'
